$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
/* body {
    padding-top: 20px;
    padding-bottom: 20px;
    
    background-color: #61CCCB;
} */


html {
  height: 100%;
  width: 100%;
  overflow: hidden;
  min-width: 100%;
  min-height: 100%;
}

body 
{
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  
    background-color: #61CCCB;
}

.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {height: 100%; display:table-cell; vertical-align: middle;}

blockquote 
{
    float:none;
    margin:0 auto;
}

blockquote p
{
    font-size: 60px;
    color: #FD964A;
    text-shadow: -1px 1px 1px #169998;
    
    font-weight: bolder;
    line-height: 1.4;
}

blockquote p span
{
    font-size: 90px;
}

blockquote small
{
    color: #FD964A;
    text-shadow: none!important;
    font-size: 40px;
    font-weight: 100;
}

.footer 
{
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}


/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
/* .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
} */

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        /* max-width: 730px; */
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}



.row {
    display: table!important;
}

.centered {

    display: table-cell!important;
    vertical-align:middle;  
}