<div class="row-fluid">

	<blockquote class="text-center">
		
		<p><span>&ldquo;</span> {{message}} <!--Next child I see, I'm punting.--> <span>&rdquo;</span></p>
		<small><a href="http://www.twitter.com/RichyRich">RichyRich</a></small>
			
	</blockquote>

</div>
